<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <!--HEADER -->
    <%- include ('./partials/header') %>
    <!-- MAIN -->
    <main>
        <div>SUCURSALES</div>
        <% sucursales.forEach(sucursal => { %>
        <div class="tarjeta">
            <div class="title"><h3><%= sucursal.sucursal %> </h3></div>
            <div class="info-card">
                <span>Direccion: </span>
                <h6> <%= sucursal.direccion %> </h6>
                <hr>
                <span>Telefono: </span>
                <h6> <%= sucursal.telefono %> </h6>
            </div>
        </div>
        <% }) %>
    </main>
    <!-- FOOTER -->
    <%- include ('./partials/footer') %>
</body>

</html>