<!DOCTYPE html>
<html lang="en">
    <!-- head -->
<%- include ('./partials/head') %>

<body>
    <!-- header -->
    <%- include('./partials/header') %>

    <main class="una-marca">
        <div class="nombre-marca"><h2><%= autos[0].marca %> </h2></div>
        <%- include('./partials/autos') %> 
        
    </main>
    
    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- script para pintar cajas segun el color del auto-->
    <%- include('./partials/script/carColorBox') %>
</body>

</html>