<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    
    <body>
        <!-- haeder-->
        <%- include('./partials/header') %> 
        
        <main class="una-sucursal">

            <div class="nombre-sucursal"><h2><%= sucursal.sucursal %> </h2></div>
            <%- include('./partials/autos') %> 

            
        </main>

        <!-- footer -->
        <%- include('./partials/footer') %> 

        <!-- script para pintar cajas segun el color del auto -->
        <%- include('./partials/script/carColorBox') %> 

    </body>
</html>